$colours: (
    fontColour: black,
    backgroundC: white,

);

@function selector($CNS, $color-name) {
    @return map-get($CNS, $color-name)
};

$desktop: 840px;

@mixin desktop {
    @media (min-width: #{$desktop}){
        @content;
    }
}



  
  .topSection {
    
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 4;
    justify-items: center;
    grid-template-areas: 
    "Name"
    "JobTitle"
    "Description"
    "Github";
    align-items: center;
    text-align: center;
    background: selector($colours, backgroundC);
    padding: 50px;
    .name {
      grid-area: Name;
    }
    .jobTitle {
      grid-area: JobTitle;
    }
    .description {
      grid-area: Description;
      color: selector($colours, fontColour);
      @include desktop {
        margin-left: 350px;
        margin-right: 350px;
      }
    }
    .githubLink {
      grid-area: Github;
      color: selector($colours, fontColour);
    }
      @include desktop {
        .line, .line2 {
          position: relative;
          background: #000;
          height: 2px;
      }
      .line {
        top: 50px;
        margin: 10px;
        width: 80vw;
    }
    .line2 {
      top: 30px;
      margin: 20px;
      width: 60vw;
    }
    }
   
  }