$colours: (
    fontColour: #5e5e5e,
    primary: orange,
    secondary: white,

);

@function selector($CNS, $color-name) {
    @return map-get($CNS, $color-name)
};

$desktop: 840px;

@mixin desktop {
    @media (min-width: #{$desktop}){
        @content;
    }
}


  
  .topSection {
    
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 4;
    justify-items: center;
    grid-template-areas: 
    "Name"
    "JobTitle"
    "Description"
    "Github";
    align-items: center;
    text-align: center;
    background: lightgrey;
    padding: 50px;
    
    //border-radius: 100px 10px;
    //border-top-style: dotted;
    //border-right-style: dotted;
    //border-color: selector($colours, primary);
    //border-width: 5px;
    .name {
      grid-area: Name;
    }
    .jobTitle {
      grid-area: JobTitle;
    }
    .description {
      grid-area: Description;
      color: selector($colours, fontColour);
      @include desktop {
        margin-left: 350px;
        margin-right: 350px;
      }
    }
    .githubLink {
      grid-area: Github;
      color: selector($colours, fontColour);
    }
  }