$desktop: 840px;
$colours: (
    fontColour: black,
    // primary: #D3D3D3,
    // primary: #5d5d5a,
    // secondary: white,
    // secondary: #ffa45c,
    // third: #ffcdab,
    // fourth: #fff4e3,
);
@function selector($CNS, $color-name) {
    @return map-get($CNS, $color-name)
};

@mixin desktop {
    @media (min-width: #{$desktop}){
        @content;
        
    }
}


.navContainer {
    text-align: center;

    
}
.navContainer > span {
    display: inline;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    
}

.navLinks {
    color: selector($colours, fontColour)
}