$desktop: 840px;
$colours: (
    fontColour: #5e5e5e,
    primary: orange,
    secondary: white,
);
$spacing: (
    padding: 0,
    margin: 0,
    marginTop: 30px,
    borderRadius: 20px,
    reactLogoWidth: 100px,
    solidityLogoWidth: 80px,
    reactLogoWidthD: 200px,
    solidityLogoWidthD: 150px,
);
@function selector($CNS, $color-name) {
    @return map-get($CNS, $color-name)
};
@mixin desktop {
    @media (min-width: #{$desktop}){
        @content;
    }
}

.Main {
    
    .midCard {
        
        display: grid;
        grid-template-columns: 2;
        grid-template-rows: 2;
        grid-template-areas: 
        "information information"
        "Project0 Project1";
        text-align: center;
        padding: 20px;
        .titles {
            color: selector($colours, fontColour);
        }
        .information {
            grid-area:information;
            
        }
        .technologies {
            grid-area:technologies;
            color: selector($colours, fontColour);
            
        }
        @include desktop {
            padding: 20px;
        }
        .Project0 {
            grid-area:Project0;
        }
        .Project1 {
            grid-area:Project1;

        }
    }
}


  

  
  
  
  
  
  