
$colours: (
    fontColour: #5e5e5e,
    primary: orange,
    secondary: white,

);
$spacing: (
    padding: 0,
    margin: 0,
    marginTop: 30px,
    borderRadius: 20px,
    reactLogoWidth: 100px,
    solidityLogoWidth: 80px,
    reactLogoWidthD: 200px,
    solidityLogoWidthD: 150px,
);

@function selector($CNS, $color-name) {
    @return map-get($CNS, $color-name)
};

$desktop: 840px;

@mixin desktop {
    @media (min-width: #{$desktop}){
        @content;
    }
}

.Main {

    .midCard {
        text-align: center;
        padding: 20px;
        .titles {
            color: selector($colours, fontColour);
            -webkit-animation-name: fadeIn;
                    animation-name: fadeIn;
            -webkit-animation-duration: 4s;
                    animation-duration: 4s;
        }
        .technologies {
            color: selector($colours, fontColour);
            -webkit-animation-name: fadeIn;
                    animation-name: fadeIn;
            -webkit-animation-duration: 4s;
                    animation-duration: 4s;
                    
        }
        
        @include desktop {
            padding: 20px;
        }
        .flexContainer {
            
            display: -webkit-flex;
            display: flex;
            -webkit-transition: all 0.3s ease-in;
            transition: all 0.3s ease-in;
              background:selector($colours, secondary); 
            
            border-radius: selector($spacing, borderRadius);
            color: selector($colours, fontColour);
            box-shadow: 2px 5px 10px #545454;
            margin: 30px;
            justify-content: space-evenly;

            @include desktop {
                margin: 50px 50px;
            }
        }
        .flexContainer:hover {
            background-color: selector($colours, primary);
            color:selector($colours, secondary);
            box-shadow: 0px 5px 20px #545454;
        }
        .flexContainer > div {
            align-content: center;
            margin: 0px;
            padding: 0px;
            @include desktop {
                margin: 10px;
                padding: 10px;
            }
        }
        .Logo {
            width: selector($spacing, reactLogoWidth);
            position: absolute;
            margin-top: 50px;
            left: 25%;
            @include desktop {
                margin-top: selector($spacing, marginTop);
                left: 30%;
                width: selector($spacing, reactLogoWidthD);
                position: relative;
                left: 0%;
            }
        }
        .pLogo {
            width: selector($spacing, reactLogoWidth);
            position: absolute;
            margin-top: 50px;
            left: 39%;
            @include desktop {
                margin-top: selector($spacing, marginTop);
                left: 30%;
                width: selector($spacing, reactLogoWidthD);
                position: relative;
                left: 0%;
                
            }
        }
        .Solidity {
            height: selector($spacing, solidityLogoWidth);
            position: absolute;
            margin-top: 50px;
            left: 60%;
            @include desktop {
                margin-top: selector($spacing, marginTop);
                left: 70%;
                height: selector($spacing, solidityLogoWidthD);
                position: relative;
                left: 0%;
            }
  
        }
        .content {
            display: block;
            margin: 70px 10px auto;
            padding: 10px;
            @include desktop {
                margin: 10px 10px;
                
            }
        }
        .SPDesc {
            display: block;
            margin: 70px 10px auto;
            padding: 10px;
            @include desktop {
                margin: 10px 50px;
                
            }
            
        }
        .projectTitle {
            @include desktop {
                position: relative;
                left: 100px;
            }
            
            
        }
        .projectGithub {
            @include desktop {
                position: relative;
                left: 100px;
            }
        }
    }
    .bottomCard {
        padding: 50px;
        border-top-left-radius: 100px;
        border-left-style: dotted;
        border-bottom-style: dotted;
        border-color: orange;
        border-width: 5px;
        border-bottom-right-radius: 100px;
        text-align: center;
        @include desktop {
            text-align: center;
        }
        
        .whiteText {
            color: selector($colours, fontColour);
        }
    }
}




@keyframes fadeIn {
    from {
      position: relative;
      top: -50px;
      opacity: 0;
      color: white;
    }
    to {
      position: relative;
      top: 0px;
      opacity: 1;
      color: selector($colours, fontColour);
    }
}




// .break {
//     display: block;
//      margin: 3px 0;
// }

  

  
  
  
  
  
  