
$colours: (
    fontColour: #5e5e5e,
    primary: orange,
    secondary: white,

);
$spacing: (
    padding: 0,
    margin: 0,
    marginTop: 30px,
    borderRadius: 20px,
    reactLogoWidth: 100px,
    solidityLogoWidth: 80px,
    reactLogoWidthD: 200px,
    solidityLogoWidthD: 150px,
);

@function selector($CNS, $color-name) {
    @return map-get($CNS, $color-name)
};

$desktop: 840px;

@mixin desktop {
    @media (min-width: #{$desktop}){
        @content;
    }
}

.Main {
    
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 3;
    grid-template-areas: 
    "InfoComponent"
    "MidCard"
    "BottomCard";
    .InfoComponent {
        grid-area:InfoComponent;
    }
    .midCard {
        grid-area: MidCard;
        text-align: center;
        padding: 20px;
        
        .titles {
            color: selector($colours, fontColour);
            -webkit-animation-name: fadeIn;
                    animation-name: fadeIn;
            -webkit-animation-duration: 4s;
                    animation-duration: 4s;
        }
        .technologies {
            color: selector($colours, fontColour);
            -webkit-animation-name: fadeIn;
                    animation-name: fadeIn;
            -webkit-animation-duration: 4s;
                    animation-duration: 4s;
                    
        }
        
        @include desktop {
            padding: 20px;
        }
        
        
        .SPDesc {
            display: block;
            margin: 70px 10px auto;
            padding: 10px;
            @include desktop {
                margin: 10px 50px;
                
            }
            
        }
        
    }
    .bottomCard {
        grid-area: BottomCard;
        padding: 50px;
        border-top-left-radius: 100px;
        border-left-style: dotted;
        border-bottom-style: dotted;
        border-color: orange;
        border-width: 5px;
        border-bottom-right-radius: 100px;
        text-align: center;
        @include desktop {
            text-align: center;
        }
        
        .whiteText {
            color: selector($colours, fontColour);
        }
    }
}




@keyframes fadeIn {
    from {
      position: relative;
      top: -50px;
      opacity: 0;
      color: white;
    }
    to {
      position: relative;
      top: 0px;
      opacity: 1;
      color: selector($colours, fontColour);
    }
}




// .break {
//     display: block;
//      margin: 3px 0;
// }

  

  
  
  
  
  
  