body {
  /* font-variant: small-caps; */
}
.whiteText {
  color: #5e5e5e;
}
.testText {
  color: #5e5e5e;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}
@keyframes fadeIn {
  from {
    position: relative;
    top: -50px;
    opacity: 0;
    color: white;
  }
  to {
    position: relative;
    top: 0px;
    opacity: 1;
    color: #5e5e5e;
  }
}
.flexContainer {
  display: -webkit-flex;
  display: flex;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
    background:white; 
  
  border-radius: 20px;
  color: #5e5e5e;
  box-shadow: 2px 5px 10px #545454;
  margin: 30px;
  justify-content: space-evenly;
}
.flexContainer:hover {
  background-color:orange;
  color:white;
  box-shadow: 0px 5px 20px #545454;
}
.flexContainer > div {
  margin: 10px;
  padding: 10px;
}
.Logo {
  width: 300px;
}
.midCard {
  padding: 20px;
}
.bottomCard {
  padding: 50px;
  border-top-left-radius: 100px;
  border-left-style: dotted;
  border-bottom-style: dotted;
  border-color: orange;
  border-width: 5px;
  border-bottom-right-radius: 100px;
}
.break {
  display: block;
   margin: 3px 0;
}
.Solidity {
  height: 200px;
}

.SPDesc {
  width: 600px;
}





