

.whiteText {
  
  color: white;
}

body {
  background-color: #F1721A;
 
  /*
  Blue: 8AB3CA
  */
}



.flexContainer {
  display: -webkit-flex;
  display: flex;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
    background:white; 
  
  border-radius: 20px;
  color: #5e5e5e;
  box-shadow: 2px 5px 10px #545454;
  margin: 30px;
  
}

.flexContainer:hover {

  
    background-color:orange;
    color:white;
    box-shadow: 0px 5px 20px white;
    
    
  
  
}
.spacing {

}

.flexContainer > div {
  margin: 10px;
  padding: 10px;
}
.Logo {
  width: 300px;

}




.midCard {
  
  padding: 20px;
  box-shadow: 0px -100px 100px #DB4916;
  /*
  box-shadow: 0px 150px 100px #7BABC1; Blue
  */
  
  /* background-color: #F1721A; */
  
}



.bottomCard {
  
  /* background-color: #F1721A; */
  padding: 20px;
 
  
}

.break {
  display: block;
   margin: 3px 0;
}







