
@function selector($CNS, $color-name) {
    @return map-get($CNS, $color-name)
};

$desktop: 840px;

@mixin desktop {
    @media (min-width: #{$desktop}){
        @content;
    }
}

$colours: (
    fontColour: #5e5e5e,
    primary: orange,
    secondary: white,

);
$spacing: (
    padding: 0,
    margin: 0,
    marginTop: 30px,
    borderRadius: 20px,
    reactLogoWidth: 100px,
    solidityLogoWidth: 80px,
    reactLogoWidthD: 150px,
    solidityLogoWidthD: 150px,
);

.flexContainer {
            
    display: grid;
    
    grid-template-columns: auto 20%;
    grid-template-rows: 3;
    grid-template-areas:
    "projectTitle pLogo"
    "projectGithub pLogo"
    "content content";
    
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
      background:selector($colours, secondary); 
    
    border-radius: selector($spacing, borderRadius);
    color: selector($colours, fontColour);
    box-shadow: 2px 5px 10px #545454;
    @include desktop {
        margin: 50px 50px;
    }
    &:hover {
        background-color: selector($colours, primary);
        color:selector($colours, secondary);
        box-shadow: 0px 5px 20px #545454;
    }
    .flexContainer > div {
        align-content: center;
        margin: 0px;
        padding: 0px;
        @include desktop {
            margin: 10px;
            padding: 10px;
        }
    }
    .projectTitle {
        grid-area: projectTitle;
        @include desktop {
            position: relative;
            left: 100px;
        }
        
        
    }
    .content {

        grid-area: content;
             
        @include desktop {
            margin: 50px;
            
        }
    }
    
    
    .projectGithub {
        grid-area: projectGithub;
        @include desktop {
            position: relative;
            left: 100px;
        }
    }
    .pLogo {
        grid-area: pLogo;
        justify-self: end;
        align-self: start;
        width: selector($spacing, reactLogoWidth);
        
        
        @include desktop {
            margin-top: selector($spacing, marginTop);
            left: 30%;
            width: selector($spacing, reactLogoWidthD);
            position: relative;
            left: 0%;
            
        }
    }

}




.Logo {
    width: selector($spacing, reactLogoWidth);
    position: absolute;
    margin-top: 50px;
    left: 25%;
    @include desktop {
        margin-top: selector($spacing, marginTop);
        left: 30%;
        width: selector($spacing, reactLogoWidthD);
        position: relative;
        left: 0%;
    }
}

.Solidity {
    height: selector($spacing, solidityLogoWidth);
    position: absolute;
    margin-top: 50px;
    left: 60%;
    @include desktop {
        margin-top: selector($spacing, marginTop);
        left: 70%;
        height: selector($spacing, solidityLogoWidthD);
        position: relative;
        left: 0%;
    }

}
