$colours: (
    fontColour: #5e5e5e,
    primary: orange,
    secondary: white,

);

@function selector($CNS, $color-name) {
    @return map-get($CNS, $color-name)
};

a {
    color: selector($colours, fontColour);
    text-decoration: none;
}
h1 {
    color: selector($colours, fontColour);
}
h2 {
    color: selector($colours, fontColour);
}