$desktop: 840px;
$colours: (
    fontColour: black,
    backgroundC: white,
);
$spacing: (
    padding: 0,
    margin: 0,
    marginTop: 30px,
    borderRadius: 20px
);
@function selector($CNS, $color-name) {
    @return map-get($CNS, $color-name)
};
@mixin desktop {
    @media (min-width: #{$desktop}){
        @content;
    }
}

.aboutHeader{
    background: selector($colours, backgroundC);
    color: selector($colours, fontColour);
    padding: 10vh;
    font-size: 2rem;
    text-align: center;
}

.AboutMe {
    text-align: center;
    padding-bottom: 20px;
    .aboutTitle {
        color: selector($colours, fontColour);
    }
    .aboutDesc {
        color: selector($colours, fontColour);
        padding: 50px;
        display: inline;
        .headerQ {
            color: selector($colours, fontColour);
        }
    }

}
