$desktop: 840px;
$colours: (
    fontColour: #5e5e5e,
    primary: #D3D3D3,
    secondary: white,
);
$spacing: (
    padding: 0,
    margin: 0,
    marginTop: 30px,
    borderRadius: 20px
);
@function selector($CNS, $color-name) {
    @return map-get($CNS, $color-name)
};
@mixin desktop {
    @media (min-width: #{$desktop}){
        @content;
    }
}

.aboutHeader{
    background: selector($colours, primary);
    color: selector($colours, fontColour);
    padding: 10vh;
    font-size: 2rem;
    text-align: center;
}

.AboutMe {
    text-align: center;
    padding-bottom: 20px;
    .aboutTitle {

    }
    .aboutDesc {
        padding: 50px;
        display: inline;
    }
    
}