
@function selector($CNS, $color-name) {
    @return map-get($CNS, $color-name)
};

$desktop: 840px;

@mixin desktop {
    @media (min-width: #{$desktop}){
        @content;
    }
}

$colours: (
    fontColour: #5e5e5e,
    primary: lightgrey,
    secondary: white,

);
$spacing: (
    padding: 0,
    margin: 0,
    marginTop: 30px,
    borderRadius: 20px,
    reactLogoWidth: 100px,
    solidityLogoWidth: 80px,
    reactLogoWidthD: 150px,
    solidityLogoWidthD: 150px,
);

.flexContainer {
            
    display: grid;
    
    grid-template-columns: auto;
    grid-template-rows: 3;
    grid-template-areas:
    "projectTitle"
    "projectGithub"
    "content";
    transition: all 0.3s ease-in;
    background:selector($colours, secondary); 
    border-radius: selector($spacing, borderRadius);
    color: selector($colours, fontColour);
    box-shadow: 2px 5px 10px #545454;
    margin: 1rem;
    // height: 25rem;
    @include desktop {
        // margin: 5rem;
    }
    &:hover {
        background-color: selector($colours, primary);
        color:selector($colours, secondary);
        box-shadow: 0px 5px 20px #545454;
    }
    
    .projectTitle {
        grid-area: projectTitle;
        position: relative;
        padding: .1rem;
        @include desktop {
            position: relative;
            padding: 0;
        }
    }
    .content {
        grid-area: content;
        padding: 1rem;
        @include desktop {
            padding: 2rem;
        }
    }
    .projectGithub {
        grid-area: projectGithub;
        justify-self: center;
        align-self: center;
        position: relative;
        @include desktop {
            align-self: center;
            justify-self: center;
            position: relative;
            
        }
    }
    // .pLogo {
    //     grid-area: pLogo;
    //     justify-self: end;
    //     align-self: end;
    //     width: selector($spacing, reactLogoWidth);
    //     position: relative;
    //     left: 15px;
    //     top: 10px;
        
        
    //     @include desktop {
    //         align-self: start;
    //         margin-top: selector($spacing, marginTop);
    //         left: 30%;
    //         width: selector($spacing, reactLogoWidthD);
    //         position: relative;
    //         left: 0%;
            
    //     }
    // }

}



